@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300&family=Montserrat:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300&family=Montserrat:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.catalog {
  background-color: rgba(240, 240, 240, 0.459);
  position: absolute;
  left: 300px;
  top: 70px;
  width: calc(100vw - 300px);
  height: calc(100vh - 70px);
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 10px;
}

@media only screen and (max-width: 960px) {
  .catalog {
    width: 100%;
    left: 0px;
  }
}

.catalog__container {
  width: 100% !important;
  margin: 0px !important;
  height: calc(100vh - 70px);
}

.product__image {
  height: 270px;
  margin-bottom: 10px;
  max-width:100%;
}

.product__title {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: left;
  width: 100%;
  text-overflow: ellipsis;
  text-transform: uppercase;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product__category {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 100%;
  text-align: left;
  font-size: 15px;
  color:rgb(121, 121, 121);
}

.product__category-text {
  color: blue;
}

.product__price {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 100%;
  text-align: left;
  font-size: 15px;
  padding: 15px 0px 10px 0px;
  border-top: 1px solid rgba(182, 182, 182, 0.411);
  color:rgb(121, 121, 121);
}

/* modal */

.modal{
  
  width:80vw;
  min-width:300px;
  height:500px;
}

.modal__left-side{
flex:1 300px;
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:center;
font-family: "Montserrat", sans-serif;
}

.modal__price{
height:50px;
margin:10px 0px;
color:gray;
font-weight:bold;
}

.modal___image{
  max-width:100%;
  max-height:300px;
  margin:10px 15px 10px 5px;
}

.modal__right-side{
flex:2 500px;
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:flex-end;
font-family: "Montserrat", sans-serif;
}

.modal__title{
  font-weight: bold;
  font-size: 20px;
  align-self: end;
  margin: 10px;
}

.modal__category{
  font-weight: 700;
  align-self: end;
  margin: 20px 10px;
  font-size: 15px;
  
}

.modal__description{
  margin: 10px;
  width: calc(100% - 20px);
  text-align: end;
  border-bottom: 1px solid gray;
  padding: 10px 0px;
  line-height: 20px;
  font-weight:300;
}


.modal__description-text {
margin:12px;
font-weight:300;
line-height:24px;
}

.modal__close-btn{
  position: absolute;
  right: 15px;
  top: 15px;
  cursor:pointer;
}

.modal__gif{
  width:30px;
}

.modal__gif-wrapper{
  width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}